<div class="card">
    <div class="card-header">
      <i class="fa fa-align-justify"></i> Lista de usuarios
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead style="background-color: #d9dcdf;">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Paterno</th>
            <th>Materno</th>
            <th>CI</th>
            <th>Email</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Esta Activo</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of listaUsuarios; index as i">
            <td>{{i+1}}</td>
            <td>{{usuario.nombre}}</td>
            <td>{{usuario.paterno}}</td>
            <td>{{usuario.materno}} </td>
            <td>{{usuario.ci}} </td>
            <td>{{usuario.email}} </td>
            <td>{{usuario.direccion}} </td>
            <td>{{usuario.telefono}} </td>
            <td>
              <span class="badge badge-success">{{usuario.estaactivo ? 'Activo': 'Inactivo'}} </span>
            </td>
            <td class="text-center">
                <button class="btn btn-success btn-sm text-gray"><i class="fas fa-edit"></i> Editar</button>
                <button class="btn btn-danger btn-sm text-gray"><i class="fas fa-trash"></i> Eliminar</button>
                <button class="btn btn-primary btn-sm text-gray"><i class="fas fa-undo"></i> Resetear Clave</button>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </div>
  </div>