<div class="card">
  <div class="card-header">Detalle Expediente</div>
  <div class="card-body">
    <table class="table" *ngIf="expediente">
      <thead>
        <tr>
          <th scope="col">Descripcion</th>
          <th scope="col" class="text-right">Item</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Expediente</td>
          <td class="text-right">{{ expediente.id }}</td>
        </tr>
        <tr>
          <td>Fecha</td>
          <td class="text-right">{{ expediente.fechahoraregistro }}</td>
        </tr>
        <tr>
          <td>Unidad</td>
          <td class="text-right">{{ expediente.unidad }}</td>
        </tr>
        <tr>
          <td>Estado</td>
          <td class="text-right">{{ expediente.estado }}</td>
        </tr>
        <tr>
          <td>Proceso</td>
          <td class="text-right">{{ expediente.tipoproceso }}</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center" *ngIf="!expediente">No existe ese expediente</div>
  </div>
</div>
