<form [formGroup]="registroPruebaForm" (ngSubmit)="registrarPrueba()">
  <div class="card">
    <div class="card-header">
      <strong>FORMULARIO DE REGISTRO DE NUEVA PARTE</strong>
    </div>
    <div class="card-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label><strong>CUDE Expediente: </strong><code>(*)</code></label>
          </div>
          <div class="col-md-5">
            <strong>202101003</strong>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label
              ><strong>Seleccionar el Tipo de Prueba: </strong
              ><code>(*)</code></label
            >
          </div>
          <div class="col-md-5">
            <select class="form-control">
              <option value="0">Tipo de Prueba 1</option>
              <option value="0">Tipo de Prueba 2</option>
            </select>
            <small class="text-secondary"
              >Ejem: Grabacion Multimedia, Documento, Etc</small
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label><strong>Numero de fojas: </strong><code>(*)</code></label>
          </div>
          <div class="col-md-5">
            <input
              type="number"
              class="form-control"
              placeholder="Numero de fojas"
              formControlName="numeroFojas"
              [ngClass]="{
                fcdanger:
                  registroPruebaForm.get('numeroFojas')?.hasError('required') &&
                  registroPruebaForm.get('numeroFojas')?.touched
              }"
            />
            <small class="text-secondary">Ejem: 1, 2, 3</small>
            <br /><small
              class="text-danger"
              *ngIf="
                registroPruebaForm.get('numeroFojas')?.hasError('required') &&
                registroPruebaForm.get('numeroFojas')?.touched
              "
              >El campo numero de fojas es requerido</small
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label
              ><strong>Adjuntar el tipo de la prueba presentada: </strong
              ><code>(*)</code></label
            >
          </div>
          <div class="col-md-5">
            <input
              type="file"
              class="form-control"
              formControlName="adjuntarArchivo"
              [ngClass]="{
                fcdanger:
                  registroPruebaForm
                    .get('adjuntarArchivo')
                    ?.hasError('required') &&
                  registroPruebaForm.get('adjuntarArchivo')?.touched
              }"
            />
            <small class="text-secondary"
              >Seleccione el archivo de la prueba presentada</small
            >
            <br /><small
              class="text-danger"
              *ngIf="
                registroPruebaForm
                  .get('adjuntarArchivo')
                  ?.hasError('required') &&
                registroPruebaForm.get('adjuntarArchivo')?.touched
              "
              >El archivo de prueba es requerido</small
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label
              ><strong>La prueba presentada se: </strong><code>(*)</code></label
            >
          </div>
          <div class="col-md-5">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="inlineRadio1" value="true" formControlName="pruebaSe">
                <label class="form-check-label" for="inlineRadio1">Acepta</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="inlineRadio2" value="false" formControlName="pruebaSe">
                <label class="form-check-label" for="inlineRadio2">Rechaza</label>
              </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label
              ><strong>Descripcion de la prueba: </strong
              ><code>(*)</code></label
            >
          </div>
          <div class="col-md-5">
            <textarea class="form-control" cols="30" rows="4"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <button type="submit" class="btn btn-danger">
              <i class="cil-save">Guardar</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
