<div class="app-body" style="background-color: #ccc;">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                  <div style="text-align: center">
                    <img
                      src="../../../assets/img/logos/logo_sigdi.B.fw.png"
                      style="width: 65%"
                    />
                  </div>
                  <div class="form-group">
                    <div class="input-group mt-5">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="icon-user"></i
                        ></span>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Username"
                        autocomplete="username"
                        formControlName="username"
                      />
                      <div
                        class="input-group-append"
                        *ngIf="
                          loginForm.get('username')?.hasError('required') &&
                          loginForm.get('username')?.touched
                        "
                      >
                        <span class="input-group-text text-light bg-info"
                          ><i
                            class="fa fa-exclamation-circle"
                            aria-hidden="true"
                          ></i>
                        </span>
                      </div>
                    </div>
                    <small
                      class="text-primary"
                      *ngIf="
                        loginForm.get('username')?.hasError('required') &&
                        loginForm.get('username')?.touched
                      "
                      >El usuario es requerido</small
                    >
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"
                          ><i class="icon-lock"></i
                        ></span>
                      </div>
                      <input
                        [type]="typePassword ? 'text' : 'password'"
                        class="form-control"
                        placeholder="Password"
                        autocomplete="current-password"
                        formControlName="password"
                      />
                      <div class="input-group-append">
                        <a class="input-group-text" (click)="togglePassword()">
                          <i class="fas fa-eye-slash" *ngIf="!typePassword"></i>
                          <i class="fas fa-eye" *ngIf="typePassword"></i>
                        </a>
                        <a
                          class="input-group-text text-light bg-info"
                          *ngIf="
                            loginForm.get('password')?.hasError('required') &&
                            loginForm.get('password')?.touched
                          "
                          ><i
                            class="fas fa-exclamation-circle"
                            aria-hidden="true"
                          ></i>
                        </a>
                      </div>
                    </div>
                    <small
                      class="text-primary"
                      *ngIf="
                        loginForm.get('password')?.hasError('required') &&
                        loginForm.get('password')?.touched
                      "
                      >El password es requerido</small
                    >
                  </div>

                  <div class="row">
                    <div class="col">
                      <!-- <button type="button" class="btn btn-primary px-4 btn-block">Login</button> -->
                      <button
                        type="submit"
                        class="btn btn-primary px-4 btn-block"
                      >
                        Login
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div
              class="card text-white bg-primary py-5 d-md-down-none"
              style="width: 44%"
            >
              <div class="card-body text-center">
                <div>
                  <h1>¡Bienvenido!</h1>
                  <br />
                  <h3>
                    Le damos la bienvenida al SIGDI <br />
                    <br />
                    <i>"Sistema de Gestión Disciplinaria"</i>
                  </h3>
                  <br />
                  <br />
                  <p className="text-right">
                    Consejo de la Magistratura
                    <br />
                    Órgano Judicial de Bolivia.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
