<div class="row">
  <div class="col">
    <div class="card card-accent-success">
      <div class="card-header">
        <strong>FORMULARIO DE REGISTRO DE NUEVO EXPEDIENTE</strong>
      </div>
      <div class="card-body">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb" accent>
            <li class="breadcrumb-item text-muted active accent-danger">
              <strong>Denuncias</strong>
            </li>
          </ol>
        </nav>
        <div class="card border-success">
          <form
            [formGroup]="registroExpedienteForm"
            (ngSubmit)="registrarDenuncia()"
          >
            <div class="card-body">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label>Tipo de Medida Precautoria <code>*</code></label>
                  </div>
                  <div class="col-md-8">
                    <select
                      class="form-control"
                      formControlName="tipoMedidaPrecautoria"
                    >
                      <option value="MP1">MP1</option>
                      <option value="MP2">MP2</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label for="">Unidad <code>*</code></label>
                  </div>
                  <div class="col-md-8">
                    <select class="form-control" formControlName="unidad">
                      <option value="UNIDAD1">UNIDAD1</option>
                      <option value="UNIDAD2">UNIDAD2</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label for="">Relato de los Hechos <code>*</code></label>
                  </div>
                  <div class="col-md-8">
                    <textarea
                      class="form-control"
                      cols="30"
                      rows="3"
                      formControlName="relatoHechos"
                      [ngClass]="{
                        fcdanger:
                          registroExpedienteForm
                            .get('relatoHechos')
                            ?.hasError('required') &&
                          registroExpedienteForm.get('relatoHechos')?.touched
                      }"
                    ></textarea>
                    <small
                      class="text-danger"
                      *ngIf="
                        registroExpedienteForm
                          .get('relatoHechos')
                          ?.hasError('required') &&
                        registroExpedienteForm.get('relatoHechos')?.touched
                      "
                      >El campo es requerido</small
                    >
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label for=""
                      >Fecha de ingreso de la denuncia <code>*</code></label
                    >
                  </div>
                  <div class="col-md-8">
                    <input
                      id="fechaIngresoDenuncia"
                      type="date"
                      class="form-control"
                      formControlName="fechaIngresoDenuncia"
                      [ngClass]="{
                        fcdanger:
                          registroExpedienteForm
                            .get('fechaIngresoDenuncia')
                            ?.hasError('required') &&
                          registroExpedienteForm.get('fechaIngresoDenuncia')
                            ?.touched
                      }"
                    />
                    <small
                      class="text-danger"
                      *ngIf="
                        registroExpedienteForm
                          .get('fechaIngresoDenuncia')
                          ?.hasError('required') &&
                        registroExpedienteForm.get('fechaIngresoDenuncia')
                          ?.touched
                      "
                      >La fecha de ingreso es requerida</small
                    >
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-4">
                    <label for="">Numero de Fojas <code>*</code></label>
                  </div>
                  <div class="col-md-8">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="numeroDeFojas"
                      [ngClass]="{
                        fcdanger:
                          registroExpedienteForm
                            .get('numeroDeFojas')
                            ?.hasError('required') &&
                          registroExpedienteForm.get('numeroDeFojas')?.touched
                      }"
                    />
                    <small
                      class="text-danger"
                      *ngIf="
                        registroExpedienteForm
                          .get('numeroDeFojas')
                          ?.hasError('required') &&
                        registroExpedienteForm.get('numeroDeFojas')?.touched
                      "
                      >El campo es requerido</small
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-success">
                <i class="cil-save"></i> Guardar
              </button>
              <button class="btn btn-danger float-right" routerLink="../lista">
                <i class="cil-chevron-left"></i> Volver
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
