<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9 col-lg-7 col-xl-6">
      <div class="card">
        <div class="card-body p-4">
          <h2 class="text-center">Cambio de clave</h2>
          <form [formGroup]="cambioClaveForm" (ngSubmit)="cambioClave()">
            <div class="form-group">
              <label>Clave actual</label>
              <div class="input-group">
                <input
                  [type]="typePasswordActual ? 'text' : 'password'"
                  name="passwordActual"
                  class="form-control"
                  formControlName="passwordActual"
                  [ngClass]="{
                    fcdanger:
                      cambioClaveForm
                        .get('passwordActual')
                        ?.hasError('required') &&
                      cambioClaveForm.get('passwordActual')?.touched
                  }"
                />
                <div class="input-group-append">
                  <a class="input-group-text" (click)="togglePasswordActual()">
                    <i class="fas fa-eye-slash" *ngIf="!typePasswordActual"></i>
                    <i class="fas fa-eye" *ngIf="typePasswordActual"></i
                  ></a>
                  <a
                    class="input-group-text text-light bg-danger"
                    *ngIf="
                      cambioClaveForm
                        .get('passwordActual')
                        ?.hasError('required') &&
                      cambioClaveForm.get('passwordActual')?.touched
                    "
                    ><i
                      class="fas fa-exclamation-circle"
                      aria-hidden="true"
                    ></i>
                  </a>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="
                  cambioClaveForm.get('passwordActual')?.hasError('required') &&
                  cambioClaveForm.get('passwordActual')?.touched
                "
                >La clave actual es requerido</small
              >
            </div>
            <div class="form-group">
              <label for="passwordNuevo">Nueva clave</label>
              <div class="input-group">
                <input
                  [type]="typePasswordNuevo ? 'text' : 'password'"
                  name="passwordNuevo"
                  class="form-control"
                  formControlName="passwordNuevo"
                  [ngClass]="{
                    fcdanger:
                      cambioClaveForm
                        .get('passwordNuevo')
                        ?.hasError('required') &&
                      cambioClaveForm.get('passwordNuevo')?.touched
                  }"
                />
                <div class="input-group-append">
                  <a class="input-group-text" (click)="togglePasswordNuevo()">
                    <i class="fas fa-eye-slash" *ngIf="!typePasswordNuevo"></i>
                    <i class="fas fa-eye" *ngIf="typePasswordNuevo"></i
                  ></a>
                  <a
                    class="input-group-text text-light bg-danger"
                    *ngIf="
                      cambioClaveForm
                        .get('passwordNuevo')
                        ?.hasError('required') &&
                      cambioClaveForm.get('passwordNuevo')?.touched
                    "
                    ><i
                      class="fas fa-exclamation-circle"
                      aria-hidden="true"
                    ></i>
                  </a>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="
                  cambioClaveForm.get('passwordNuevo')?.hasError('required') &&
                  cambioClaveForm.get('passwordNuevo')?.touched
                "
                >La nueva contraseña es requerida</small
              >
            </div>

            <div class="form-group">
              <label for="passwordconfirm">Confirme nueva clave</label>
              <div class="input-group">
                <input
                  [type]="typePasswordConfirm ? 'text' : 'password'"
                  name="passwordconfirm"
                  class="form-control"
                  formControlName="passwordConfirm"
                  [ngClass]="{
                    fcdanger:
                      cambioClaveForm
                        .get('passwordConfirm')
                        ?.hasError('required') &&
                      cambioClaveForm.get('passwordConfirm')?.touched
                  }"
                />
                <div class="input-group-append">
                  <a class="input-group-text" (click)="togglePasswordConfirm()">
                    <i
                      class="fas fa-eye-slash"
                      *ngIf="!typePasswordConfirm"
                    ></i>
                    <i class="fas fa-eye" *ngIf="typePasswordConfirm"></i
                  ></a>
                  <a
                    class="input-group-text text-light bg-danger"
                    *ngIf="
                      cambioClaveForm
                        .get('passwordConfirm')
                        ?.hasError('required') &&
                      cambioClaveForm.get('passwordConfirm')?.touched
                    "
                    ><i
                      class="fas fa-exclamation-circle"
                      aria-hidden="true"
                    ></i>
                  </a>
                </div>
              </div>
              <small
                class="text-danger"
                *ngIf="
                  cambioClaveForm
                    .get('passwordConfirm')
                    ?.hasError('required') &&
                  cambioClaveForm.get('passwordConfirm')?.touched
                "
                >La confirmacion de la contraseña es requerida</small
              >
              <small
                class="text-danger"
                *ngIf="
                  equalPassword &&
                  cambioClaveForm.get('passwordConfirm')?.touched
                "
                >La contraseña no es identica</small
              >
            </div>
            <button type="submit" class="btn btn-success">Cambiar clave</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
