<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">Lista partes</div>
      <div class="card-body">
        <table class="table table-striped" *ngIf="expediente">
          <thead>
            <tr>
              <th scope="col">Descripcion</th>
              <th scope="col">Item</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let parte of listaPartes">
              <td>{{ parte.nombre }}</td>
              <td>{{ parte.tipo }}</td>
            </tr>
          </tbody>
        </table>
        <div class="text-center" *ngIf="!expediente">No hay partes</div>
      </div>
    </div>
  </div>
</div>
