<form [formGroup]="registrarParteForm" (ngSubmit)="registrarParte()">
  <div class="card">
    <div class="card-header">FORMULARIO DE REGISTRO DE NUEVO PARTE</div>
    <div class="card-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label><strong>CUDE EXPEDIENTE: </strong></label>
          </div>
          <div class="col-md-5">202101003</div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label><strong>Nombre de la Parte </strong></label><code>(*)</code>
          </div>
          <div class="col-md-5">
            <input
              type="text"
              class="form-control"
              formControlName="nombreParte"
              [ngClass]="{
                fcdanger:
                  registrarParteForm.get('nombreParte')?.hasError('required') &&
                  registrarParteForm.get('nombreParte')?.touched
              }"
            />
            <small class="text-secondary"
              >Ejem: Nombre PrimerApellido SegundoApellido</small
            >
            <br /><small
              class="text-danger"
              *ngIf="
                registrarParteForm.get('nombreParte')?.hasError('required') &&
                registrarParteForm.get('nombreParte')?.touched
              "
              >El nombre de la parte es requerido</small
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label><strong>Tipo de la Parte </strong></label><code>(*)</code>
          </div>
          <div class="col-md-5">
            <select class="form-control">
              <option value="0">Parte1</option>
              <option value="1">Parte2</option>
            </select>
            <small class="text-secondary">Seleccione el tipo de la parte</small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label><strong>Unidad de la Parte </strong></label><code>(*)</code>
          </div>
          <div class="col-md-5">
            <select class="form-control">
              <option value="0">Unidad1</option>
              <option value="1">Unidad2</option>
            </select>
            <small class="text-secondary"
              >Seleccione la unidad de la parte</small
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label><strong>Cargo de la Parte </strong></label><code>(*)</code>
          </div>
          <div class="col-md-5">
            <select class="form-control">
              <option value="0">Cargo1</option>
              <option value="1">Cargo2</option>
            </select>
            <small class="text-secondary"
              >Seleccione el cargo de la parte</small
            >
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <button type="submit" class="btn btn-danger">
              <i class="cil-save"> Guardar</i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
