<div class="container">
  <div class="card border-primary">
    <div class="card-header">Expediente</div>
    <div class="card-body">
      <form [formGroup]="formBusquedaExpediente" (ngSubmit)="busqueda()">
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <label>Distrito <code class="text-danger">(*)</code></label>
            </div>
            <div class="col-md-4">
              <select
                class="custom-select"
                formControlName="distrito"
                [ngClass]="{
                  'is-invalid':
                    formBusquedaExpediente
                      .get('distrito')
                      ?.hasError('required') &&
                    formBusquedaExpediente.get('distrito')?.touched,
                  'is-valid':
                    formBusquedaExpediente.get('distrito').valid &&
                    formBusquedaExpediente.get('distrito')?.touched
                }"
              >
                <option
                  *ngFor="let distrito of listaDistritos"
                  value="{{ distrito.ip }}"
                >
                  {{ distrito.descripcion }}
                </option>
              </select>
              <small class="text-secondary">Seleccione el distrito</small><br />
              <div
                class="invalid-feedback"
                *ngIf="
                  formBusquedaExpediente
                    .get('distrito')
                    ?.hasError('required') &&
                  formBusquedaExpediente.get('distrito')?.touched
                "
              >
                El distrito es requerido
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <label>Nurej <code class="text-danger">(*)</code></label>
            </div>
            <div class="col-md-4">
              <input
                type="number"
                class="form-control"
                formControlName="nurej"
                [ngClass]="{
                  'is-invalid':
                    formBusquedaExpediente.get('nurej')?.hasError('required') &&
                    formBusquedaExpediente.get('nurej')?.touched,
                  'is-valid':
                    formBusquedaExpediente.get('nurej').valid &&
                    formBusquedaExpediente.get('nurej')?.touched
                }"
              />
              <small class="text-secondary">Ingrese el numero</small><br />
              <div
                class="invalid-feedback"
                *ngIf="
                  formBusquedaExpediente.get('nurej')?.hasError('required') &&
                  formBusquedaExpediente.get('nurej')?.touched
                "
              >
                El Nurej es requerido
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <label>Motivo o Razón <code class="text-danger">(*)</code></label>
            </div>
            <div class="col-md-4">
              <textarea
                formControlName="motivo"
                class="form-control"
                cols="30"
                rows="3"
                placeholder="Motivo o razón de la búsqueda"
                [ngClass]="{
                  'is-invalid':
                    formBusquedaExpediente
                      .get('motivo')
                      ?.hasError('required') &&
                    formBusquedaExpediente.get('motivo')?.touched,
                  'is-valid':
                    formBusquedaExpediente.get('motivo').valid &&
                    formBusquedaExpediente.get('motivo')?.touched
                }"
              ></textarea>
              <div
                class="invalid-feedback"
                *ngIf="
                  formBusquedaExpediente.get('motivo')?.hasError('required') &&
                  formBusquedaExpediente.get('motivo')?.touched
                "
              >
                El Nurej es requerido
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="">Opciones</label>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-6">
                <button
                  type="submit"
                  class="btn btn-outline-success active btn-block"
                >
                  <i class="fas fa-file" aria-hidden="true"></i> Expediente
                </button>
              </div>
              <div class="col-md-6">
                <button
                  type="button"
                  class="btn btn-outline-info active btn-block"
                  *ngIf="caratula"
                >
                  <i class="fas fa-address-book" aria-hidden="true"></i>
                  Caratula
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <section id="Expediente_Y_Actuado" *ngIf="caratula">
    <div class="card border-primary">
      <div class="card-header bg-light">
        <div class="row">
          <div class="col-md-6">
            <button
              class="btn border-primary active btn-block"
              [ngClass]="{
                'btn-outline-info active': expediente
              }"
              (click)="expedienteTab()"
            >
              Expediente
            </button>
          </div>
          <div class="col-md-6">
            <button
              type="button"
              class="btn border-primary active btn-block"
              [ngClass]="{
                'btn-outline-info active': actuado
              }"
              (click)="actuadoTab()"
            >
              Actuados
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row" *ngIf="expediente">
          <div class="col-md-6">
            <app-datos-expediente [expediente]="expedienteObjeto"></app-datos-expediente>
          </div>
          <div class="col-md-6">
            <app-lista-partes [expediente]="expedienteObjeto"></app-lista-partes>
          </div>
        </div>
        <div class="row" *ngIf="actuado">
          <div class="col">
            <app-lista-actuados [direccion]="distrito" [expediente]="expedienteObjeto"></app-lista-actuados>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
