<!-- <div class="row justify-content-center">
  <div class="col-sm-12 col-md-12 col-lg-10 col-xl-7"> -->
<div class="card">
  <div class="card-body p-4">
    <form [formGroup]="registrarUsuarioForm" (ngSubmit)="registrarUsuario()">
      <h1>Registro de usuario</h1>
      <p class="text-muted">Creacion de una cuenta nueva</p>
      <label for="rol">Rol</label>
      <select
        name="rol"
        id="rol"
        class="form-control mb-3"
        formControlName="rol"
      >
        <option *ngFor="let rol of roles; indice as i">
          {{ rol.descripcion }}
        </option>
      </select>
      <div class="row">
        <div class="col-sm-5 mb-3">
          <label for="distrito">Distrito</label>
          <select
            class="form-control"
            formControlName="distrito"
            (ngModelChange)="unidadFiltro($event)"
            [value]="0"
          >
            <option value="0">Sin distrito</option>
            <option value="1">Chuquisaca</option>
            <option value="2">La Paz</option>
            <option value="3">Cochabamba</option>
            <option value="4">Santa Cruz</option>
            <option value="5">Tarija</option>
            <option value="6">Oruro</option>
            <option value="7">Potosi</option>
            <option value="8">Pando</option>
            <option value="9">Beni</option>
          </select>
        </div>
        <div class="col-sm-7">
          <label for="unidad">Unidad</label>
          <select
            name="unidad"
            id="unidad"
            class="form-control mb-3"
            formControlName="unidad"
          >
            <option
              *ngFor="let unidad of unidadesFiltradas; indice as i"
              value="{{ i }}"
            >
              {{ unidad.descripcion }}
            </option>
          </select>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="nombre">Nombre(s)</label>
            <div class="input-group">
              <input
                type="text"
                name="nombre"
                id="nombre"
                class="form-control"
                formControlName="nombre"
                [ngClass]="{
                  fcdanger:
                    registrarUsuarioForm.get('nombre')?.hasError('required') &&
                    registrarUsuarioForm.get('nombre')?.touched
                }"
              />
              <div
                class="input-group-append"
                *ngIf="
                  registrarUsuarioForm.get('nombre')?.hasError('required') &&
                  registrarUsuarioForm.get('nombre')?.touched
                "
              >
                <span class="input-group-text text-light bg-danger"
                  ><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <small
              class="text-danger"
              *ngIf="
                registrarUsuarioForm.get('nombre')?.hasError('required') &&
                registrarUsuarioForm.get('nombre')?.touched
              "
              >El nombre es requerido</small
            >
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="paterno">Apellido paterno</label>
            <input
              type="text"
              name="paterno"
              class="form-control"
              formControlName="apellidoPaterno"
            />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="materno">Materno paterno</label>
            <input
              type="text"
              name="materno"
              class="form-control"
              formControlName="apellidoMaterno"
            />
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="date">Fecha de nacimiento</label>
            <input
              type="date"
              name="date"
              class="form-control"
              formControlName="fechaDeNacimiento"
            />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="ci">ci</label>
            <div class="input-group">
              <input
                type="text"
                name="ci"
                class="form-control"
                formControlName="ci"
                [ngClass]="{
                  fcdanger:
                    registrarUsuarioForm.get('ci')?.hasError('required') &&
                    registrarUsuarioForm.get('ci')?.touched
                }"
              />
              <div
                class="input-group-append"
                *ngIf="
                  registrarUsuarioForm.get('ci')?.hasError('required') &&
                  registrarUsuarioForm.get('ci')?.touched
                "
              >
                <span class="input-group-text text-light bg-danger"
                  ><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <small
              class="text-danger"
              *ngIf="
                registrarUsuarioForm.get('ci')?.hasError('required') &&
                registrarUsuarioForm.get('ci')?.touched
              "
              >El ci es requerido</small
            >
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="complemento">Complemento</label>
            <input
              type="text"
              name="complemento"
              class="form-control"
              formControlName="complemento"
            />
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="expedido">Expedido</label>
            <select
              name="expedido"
              id=""
              class="form-control"
              formControlName="expedido"
            >
              <option value="10">No sabe</option>
              <option value="1">Chuquisaca</option>
              <option value="2">La Paz</option>
              <option value="3">Cochabamba</option>
              <option value="4">Santa Cruz</option>
              <option value="5">Tarija</option>
              <option value="6">Oruro</option>
              <option value="7">Potosi</option>
              <option value="8">Pando</option>
              <option value="9">Beni</option>
            </select>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="email">Correo Electrónico</label>
            <div class="input-group">
              <input
                type="email"
                name="email"
                class="form-control"
                formControlName="correo"
                [ngClass]="{
                  fcdanger:
                    (registrarUsuarioForm.get('correo')?.hasError('required') &&
                      registrarUsuarioForm.get('correo')?.touched) ||
                    (registrarUsuarioForm.get('correo')?.hasError('email') &&
                      registrarUsuarioForm.get('correo')?.touched)
                }"
              />
              <div
                class="input-group-append"
                *ngIf="
                  (registrarUsuarioForm.get('correo')?.hasError('required') &&
                    registrarUsuarioForm.get('correo')?.touched) ||
                  (registrarUsuarioForm.get('correo')?.hasError('email') &&
                    registrarUsuarioForm.get('correo')?.touched)
                "
              >
                <span class="input-group-text text-light bg-danger"
                  ><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <small
              class="text-danger"
              *ngIf="
                registrarUsuarioForm.get('correo')?.hasError('required') &&
                registrarUsuarioForm.get('correo')?.touched
              "
              >El correo es requerido</small
            >
            <small
              class="text-danger"
              *ngIf="
                registrarUsuarioForm.get('correo')?.hasError('email') &&
                registrarUsuarioForm.get('correo')?.touched
              "
              >El correo es invalido</small
            >
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="direccion">Dirección</label>
            <div class="input-group">
              <input
                type="text"
                name="direccion"
                class="form-control"
                formControlName="direccion"
                [ngClass]="{
                  fcdanger:
                    registrarUsuarioForm
                      .get('direccion')
                      ?.hasError('required') &&
                    registrarUsuarioForm.get('direccion')?.touched
                }"
              />
              <div
                class="input-group-append"
                *ngIf="
                  registrarUsuarioForm.get('direccion')?.hasError('required') &&
                  registrarUsuarioForm.get('direccion')?.touched
                "
              >
                <span class="input-group-text text-light bg-danger"
                  ><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <small
              class="text-danger"
              *ngIf="
                registrarUsuarioForm.get('direccion')?.hasError('required') &&
                registrarUsuarioForm.get('direccion')?.touched
              "
              >La direccion es requerida</small
            >
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="complemento">Celular</label>
            <div class="input-group">
              <input
                type="number"
                name="complemento"
                class="form-control"
                formControlName="celular"
                [ngClass]="{
                  fcdanger:
                    registrarUsuarioForm
                      .get('direccion')
                      ?.hasError('required') &&
                    registrarUsuarioForm.get('direccion')?.touched
                }"
              />
              <div
                class="input-group-append"
                *ngIf="
                  registrarUsuarioForm.get('celular')?.hasError('required') &&
                  registrarUsuarioForm.get('celular')?.touched
                "
              >
                <span class="input-group-text text-light bg-danger"
                  ><i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <small
              class="text-danger"
              *ngIf="
                registrarUsuarioForm.get('celular')?.hasError('required') &&
                registrarUsuarioForm.get('celular')?.touched
              "
              >El celular es requerido</small
            >
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="telefono">Teléfono oficina</label>
            <div class="input-group">
              <input
                type="text"
                name="telefono"
                class="form-control"
                formControlName="telefonoOficina"
              />
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <button class="btn btn-success btn-block">Registrar</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!--   </div>
</div>
 -->
