<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <strong>PRUEBAS DE EXPEDIENTE :</strong>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Username</th>
              <th>Date registered</th>
              <th>Role</th>
              <th>Status</th>
              <th>archivo de prueba adjunto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Yiorgos Avraamu</td>
              <td>2012/01/01</td>
              <td>Member</td>
              <td>
                <span class="badge badge-success">Active</span>
              </td>
              <td>
                <button class="btn btn-danger">
                  <i class="cil-cloud-download" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>Avram Tarasios</td>
              <td>2012/02/01</td>
              <td>Staff</td>
              <td>
                <span class="badge badge-danger">Banned</span>
              </td>
              <td>
                <button class="btn btn-danger">
                  <i class="cil-cloud-download" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
