<div class="row">
  <div class="col">
    <div class="card card-accent-success">
      <div class="card-body">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb" accent>
            <li class="breadcrumb-item text-muted active accent-danger">
              <strong>Denuncias</strong>
            </li>
          </ol>
        </nav>
        <nav class="navbar navbar-expand-sm mb-3">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-success my-2 my-sm-0" type="submit" routerLink="../../expedientes/registro">
              NUEVA DENUNCIA
            </button>
          </form>
        </nav>
        <nav class="navbar navbar-light bg-light">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Buscar Denuncia" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </nav>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Username</th>
              <th>Date registered</th>
              <th>Role</th>
              <th>Status</th>
              <th>Detalle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Yiorgos Avraamu</td>
              <td>2012/01/01</td>
              <td>Member</td>
              <td>
                <span class="badge badge-success">Active</span>
              </td>
              <td><button class="btn btn-primary" routerLink="../../expedientes/detalle"><i class="fas fa-file" aria-hidden="true"></i> </button></td>
            </tr>
            <tr>
              <td>Avram Tarasios</td>
              <td>2012/02/01</td>
              <td>Staff</td>
              <td>
                <span class="badge badge-danger">Banned</span>
              </td>
              <td><button class="btn btn-primary" routerLink="../../expedientes/detalle"><i class="fas fa-file" aria-hidden="true"></i> </button></td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Prev</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
