<div class="row">
  <div class="col-sm-4 col-md-4">
    <div class="brand-card">
      <div class="brand-card-header gradient-yellow">
        <i class="cil-people"></i>
        <div class="chart-wrapper">
          <canvas
            baseChart
            class="chart"
            [datasets]="brandBoxChartData4"
            [labels]="brandBoxChartLabels"
            [options]="brandBoxChartOptions"
            [colors]="brandBoxChartColours"
            [legend]="brandBoxChartLegend"
            [chartType]="brandBoxChartType"
          ></canvas>
        </div>
      </div>
      <div class="brand-card-body">
        <div>
          <!-- <div class="text-value">Registrar</div> -->
          <div class="text-uppercase text-muted small">
            <a data-toggle="modal" data-target="#agregarParteModal">
              Registrar
            </a>
          </div>
        </div>
        <div>
          <!-- <div class="text-value">Parte</div> -->
          <div class="text-uppercase text-muted small">
            <a data-toggle="modal" data-target="#agregarParteModal"> Parte </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="brand-card">
      <div class="brand-card-header gradient-green">
        <i class="cil-file"></i>
        <div class="chart-wrapper">
          <canvas
            baseChart
            class="chart"
            [datasets]="brandBoxChartData4"
            [labels]="brandBoxChartLabels"
            [options]="brandBoxChartOptions"
            [colors]="brandBoxChartColours"
            [legend]="brandBoxChartLegend"
            [chartType]="brandBoxChartType"
          ></canvas>
        </div>
      </div>
      <div class="brand-card-body">
        <div>
          <!-- <div class="text-value">Registrar</div> -->
          <div class="text-uppercase text-muted small">
            <a data-toggle="modal" data-target="#agregarPruebaModal">
              Registrar
            </a>
          </div>
        </div>
        <div>
          <!-- <div class="text-value">Parte</div> -->
          <div class="text-uppercase text-muted small">
            <a data-toggle="modal" data-target="#agregarPruebaModal"> Prueba </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="brand-card">
      <div class="brand-card-header gradient-red">
        <i class="cil-print"></i>
        <div class="chart-wrapper">
          <canvas
            baseChart
            class="chart"
            [datasets]="brandBoxChartData4"
            [labels]="brandBoxChartLabels"
            [options]="brandBoxChartOptions"
            [colors]="brandBoxChartColours"
            [legend]="brandBoxChartLegend"
            [chartType]="brandBoxChartType"
          ></canvas>
        </div>
      </div>
      <div class="brand-card-body">
        <div>
          <!-- <div class="text-value">Registrar</div> -->
          <div class="text-uppercase text-muted small">
            <a data-toggle="modal" data-target="#imprimirModal">
              Imprimir
            </a>
          </div>
        </div>
        <div>
          <!-- <div class="text-value">Parte</div> -->
          <div class="text-uppercase text-muted small">
            <a data-toggle="modal" data-target="#imprimirModal"> Reporte </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <strong>VISTA DETALLADA DE EXPEDIENTE</strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="callout callout-warning">
              <small class="text-muted">Unidad:</small>
              <br />
              <strong class="h6">unidadexpediente</strong>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="callout callout-success">
              <small class="text-muted">Código de Expeciente (CUDE)::</small>
              <br />
              <strong class="h6">202101008</strong>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="callout callout-danger">
              <small class="text-muted">Tipo Medida Precautoria ::</small>
              <br />
              <strong class="h6">Sin Medida Precautoria</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-lista-partes></app-lista-partes>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <app-lista-pruebas></app-lista-pruebas>
  </div>
</div>

<!-- Modal Parte-->
<div class="modal fade" id="agregarParteModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div>
        <div class="modal-header bg-warning text-white">
          <h5 class="modal-title">Registrar Parte</h5>
          <button class="close" data-dismiss="modal" #botonCerrar>
            <i class="fa fa-window-close" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">
          <app-registrar-parte></app-registrar-parte>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin Modal -->

<!-- Modal Prueba -->
<div class="modal fade" id="agregarPruebaModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div>
        <div class="modal-header bg-success text-white">
          <h5 class="modal-title">Registrar prueba</h5>
          <button class="close" data-dismiss="modal" #botonCerrar>
            <i class="fa fa-window-close" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">
          <app-registrar-prueba></app-registrar-prueba>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin Modal  -->

<!-- Modal Imprimir -->
<div class="modal fade" id="imprimirModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div>
        <div class="modal-header bg-danger text-white">
          <h5 class="modal-title">Imprimir</h5>
          <button class="close" data-dismiss="modal" #botonCerrar>
            <i class="fa fa-window-close" aria-hidden="true"></i>
          </button>
        </div>
        <div class="modal-body">
          Imprimir
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin Modal -->
