.gradient-yellow {
  /* fallback for old browsers */
  background: #ff9924;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(255, 153, 36, 1), rgba(187, 94, 22, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(255, 153, 36, 1), rgba(187, 94, 22, 1))
  }

  .gradient-green {
    /* fallback for old browsers */
    background: #7af57e;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top, rgba(122, 245, 126, 1), rgba(49, 81, 31, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, rgba(122, 245, 126, 1), rgba(49, 81, 31, 1))
  }

  .gradient-red {
    /* fallback for old browsers */
    background: #e03e3e;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top, rgba(224, 62, 62, 1), rgba(186, 13, 13, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, rgba(224, 62, 62, 1), rgba(186, 13, 13, 1))
  }