<div class="card">
  <div class="card-header">Actuados</div>
  <div class="card-body">
    <div class="row">
      <div class="col col-sm-4">
        <table class="table table-striped" *ngIf="expediente">
          <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Actuado</th>
              <th scope="col">Usuario</th>
              <th scope="col">Unidad</th>
              <th scope="col">Cerrado</th>
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let actuado of listaActuados">
              <th>{{ actuado.fecha }}</th>
              <td>{{ actuado.actuado }}</td>
              <td>{{ actuado.codigousuario }}</td>
              <td>{{ actuado.unidad }}</td>
              <td>
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="inlineCheckbox1"
                  value="option1"
                  [checked]="actuado.cerrado"
                  disabled
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="text-center" *ngIf="!expediente">No hay actuados</div>
  </div>
</div>
